<button class="btn-primary" data-url="top">Previous</button>
<button class="btn-primary" data-url="top">Next</button>
<div class="card">
    <div class="box" id="field">

    </div>
</div>

@*@model Codecool.HackerNewsClient.Models.NewsView

<ul>
    @foreach (var row in Model.NewsList)
    {
        <li>@row.Author</li>
        <li>@row.Title</li>
        <li>@row.TimeAgo</li>

    }
</ul>*@